<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Welcome", root_url %>
      <%= link_to "Goodbye", what_path %>
      <%= link_to "Form Example", form_example_path %>
    </nav>
    <%= yield %>
  </body>
</html>
