<%- include("./partials/header.ejs") %>
        <h1>Thank you for submitting the Survey</h1>
        <p>Hi, <%- fullName %></p>
        <p>I see you also like <%- favouriteColour %></p>
        <p>Let's hang out on <%- favouriteDay %></p>
<%- include("./partials/footer.ejs") %>