

<%= form_with(model: @question) do |form| %>
  <div>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body %>
    <br>
    <%= form.text_area :body, cols:50, rows: 5 %>
  </div>
  <%= form.submit %>

<% end %>