<h1>Question Show page</h1>
<h2><%= @question.title %></h2>
<p><%= @question.body %></p>
<p><small>Created at: <%= @question.created_at %>, Views: <%= @question.view_count %></small></p>
<small>Created by: <%= @question.user.full_name %></small>
<small>Liked by: <%= @question.likes.count %> users</small>
<% unless @question.tags.empty? %>
  <p>
    Tags:
    <% @question.tags.each do |tag| %>
      <%= link_to( tag.name, questions_path(tag: tag.name),
        class: 'badge rounded-pill bg-primary'
       )%>
    <% end %>
  </p>
<% end %>
<% if can? :crud, @question %>
  <%= button_to 'Edit', edit_question_path(@question), method: :get %>
  <%= button_to 'Delete', question_path(@question), method: :delete, data: {turbo_confirm: "Are you sure?"} %>
<% end %>
<small>
  <% if @like.present? %>
      <%= button_to "Unlike", like_path(@like), method: :delete %>
    <% else %>
      <%= button_to "Like", question_likes_path(@question), method: :post %>
    <% end %>
</small>

<ul>
  <% @answers.each do |answer| %>
    <li>
      <%= answer.body %>
      <small>
        Answered <%= time_ago_in_words(answer.created_at)%> ago by <%= answer.user.full_name %>
      </small>
      <% if can? :crud, answer %>
        <%= link_to "Delete", question_answer_path(@question.id, answer.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>
<hr>
<h3>Write an answer</h3>
<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li> <%= msg %></li>
    <% end %> 
  </ul>
<% end %>

<%= form_with(model:[@question, @answer]) do |f| %>
  <div>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body, cols: 50, rows: 5 %>
  </div>
  <%= f.submit "Answer" %>
<% end %>